<%- include ('layout/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/add-contact.css">
</head> 
<body>
  <%- include ('layout/nav.ejs') %>
  <%- include ('layout/alert.ejs') %> 
      <div class="loginbox">
      <img src="/images/contact.png" class="avatar">
          <h1>Add Contact</h1>
          <form id="addForm">
              <p>Name</p>
              <input type="text" name="name" id="name" placeholder="Enter Name">
              <p>Mobile No.</p>
              <input type="tel" name="mob" id="mob" placeholder="Enter Mobile No.">
              <input type="hidden" id='_csrf' name="_csrf" value="<%= csrfToken %>">
              <input type="button" onclick="postContact()" value="Add Contact">
          </form>
      </div>
      <%- include ('layout/toast.ejs') %>   
      <script src="/js/add.js"></script> 
<%- include ('layout/footer.ejs') %>
